div.pieContenidoStl {
    width: auto;
    height: 12px;
    
    margin-left: 25px;
}
div.pieContenidoStl img {
    padding: 0;
    margin: 0;
}
div.pieContenidoStl img.pieIzq {
    float: left;
}
div.pieContenidoStl span.centroPie {
    width: auto;
    height: 11px;
    
    background: #fff;
    
    border-bottom: 1px solid #6DABE6;
    
    float: left;
}
div.pieContenidoStl img.pieDer {
    float: Right;
}